.mediaViewInfo {
	--web-view-name: Components-6;
	--web-view-id: Components-6;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Components-6;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Components-6 {
	position: absolute;
	width: 1600px;
	height: 3108px;
	background-color: rgba(240,240,247,1);
	overflow: hidden;
	--web-view-name: Components-6;
	--web-view-id: Components-6;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Pricing {
	position: absolute;
	width: 388px;
	height: 480px;
	left: 206px;
	top: 93px;
	overflow: visible;
}
#BG {
	fill: rgba(255,255,255,1);
}
.BG {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 480px;
	left: 9px;
	top: 7px;
}
#STARTER {
	left: 142px;
	top: 66px;
	position: absolute;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -6px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(67,66,93,1);
}
#Per_agent__mo {
	opacity: 0.5;
	left: 139px;
	top: 264px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(77,79,92,1);
}
#ID1 {
	left: 144px;
	top: 119px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 100px;
	color: rgba(59,134,255,1);
}
#Starter_features_for_your_busi {
	left: 65px;
	top: 300px;
	position: absolute;
	overflow: visible;
	width: 267px;
	height: 50px;
	line-height: 23px;
	margin-top: -2.5px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(77,79,92,1);
}
#btn_buy {
	position: absolute;
	width: 120px;
	height: 35px;
	left: 134px;
	top: 394px;
	overflow: visible;
}
#Rectangle_166 {
	fill: rgba(59,134,255,1);
}
.Rectangle_166 {
	position: absolute;
	overflow: visible;
	width: 120px;
	height: 35px;
	left: 0px;
	top: 0px;
}
#BUY {
	left: 47px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Pricing_bu {
	position: absolute;
	width: 388px;
	height: 480px;
	left: 1006px;
	top: 93px;
	overflow: visible;
}
#BG_bv {
	fill: rgba(255,255,255,1);
}
.BG_bv {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 480px;
	left: 9px;
	top: 7px;
}
#PLUS {
	left: 163px;
	top: 66px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -6px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(67,66,93,1);
}
#Per_agent__mo_bx {
	opacity: 0.5;
	left: 139px;
	top: 264px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(77,79,92,1);
}
#ID59 {
	left: 119px;
	top: 119px;
	position: absolute;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 100px;
	color: rgba(59,134,255,1);
}
#Advanced_features_for_your_bus {
	left: 65px;
	top: 300px;
	position: absolute;
	overflow: visible;
	width: 267px;
	height: 50px;
	line-height: 23px;
	margin-top: -2.5px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(77,79,92,1);
}
#btn_buy_b {
	position: absolute;
	width: 120px;
	height: 35px;
	left: 134px;
	top: 394px;
	overflow: visible;
}
#Rectangle_166_b {
	fill: rgba(59,134,255,1);
}
.Rectangle_166_b {
	position: absolute;
	overflow: visible;
	width: 120px;
	height: 35px;
	left: 0px;
	top: 0px;
}
#BUY_b {
	left: 47px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Pricing_b {
	position: absolute;
	width: 1189.958px;
	height: 680px;
	left: 215px;
	top: 2382px;
	overflow: hidden;
}
#Pricing_ca {
	position: absolute;
	width: 370.958px;
	height: 661px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#BG_b {
	fill: rgba(255,255,255,1);
}
.BG_b {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 679px;
	left: 0px;
	top: 0px;
}
#btn_tryit {
	position: absolute;
	width: 370px;
	height: 70px;
	left: 0px;
	top: 591px;
	overflow: visible;
}
#Rectangle_737 {
	fill: rgba(255,101,101,1);
}
.Rectangle_737 {
	position: absolute;
	overflow: visible;
	width: 370px;
	height: 70px;
	left: 0px;
	top: 0px;
}
#Try_it_now {
	left: 148px;
	top: 23px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#list {
	position: absolute;
	width: 370.958px;
	height: 276.479px;
	left: 0px;
	top: 315px;
	overflow: visible;
}
#Rectangle_738 {
	fill: rgba(245,246,250,1);
}
.Rectangle_738 {
	position: absolute;
	overflow: visible;
	width: 370px;
	height: 276px;
	left: 0px;
	top: 0px;
}
#Path_324 {
	fill: transparent;
	stroke: rgba(232,233,236,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_324 {
	overflow: visible;
	position: absolute;
	width: 370.958px;
	height: 1px;
	left: 0px;
	top: 46.479px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_326 {
	fill: transparent;
	stroke: rgba(232,233,236,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_326 {
	overflow: visible;
	position: absolute;
	width: 370.958px;
	height: 1px;
	left: 0px;
	top: 92.479px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_327 {
	fill: transparent;
	stroke: rgba(232,233,236,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_327 {
	overflow: visible;
	position: absolute;
	width: 370.958px;
	height: 1px;
	left: 0px;
	top: 138.479px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_328 {
	fill: transparent;
	stroke: rgba(232,233,236,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_328 {
	overflow: visible;
	position: absolute;
	width: 370.958px;
	height: 1px;
	left: 0px;
	top: 184.479px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_329 {
	fill: transparent;
	stroke: rgba(232,233,236,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_329 {
	overflow: visible;
	position: absolute;
	width: 370.958px;
	height: 1px;
	left: 0px;
	top: 230.479px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_330 {
	fill: transparent;
	stroke: rgba(232,233,236,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_330 {
	overflow: visible;
	position: absolute;
	width: 370.958px;
	height: 1px;
	left: 0px;
	top: 276.479px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_325 {
	fill: transparent;
	stroke: rgba(232,233,236,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_325 {
	overflow: visible;
	position: absolute;
	width: 370.958px;
	height: 1px;
	left: 0px;
	top: 0.479px;
	transform: matrix(1,0,0,1,0,0);
}
#ID1_user_24hr_support__3_proje {
	left: 89px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 201px;
	height: 243px;
	line-height: 45px;
	margin-top: -15px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(67,66,93,1);
}
#details {
	position: absolute;
	width: 246px;
	height: 219px;
	left: 66px;
	top: 49px;
	overflow: visible;
}
#FREE {
	left: 102px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,101,101,1);
}
#per__month {
	left: 146px;
	top: 118px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,101,101,1);
}
#Free_forever {
	left: 72px;
	top: 194px;
	position: absolute;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -3.5px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,101,101,1);
}
#ID0 {
	left: 54px;
	top: 83px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	text-align: right;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 80px;
	color: rgba(255,101,101,1);
}
#See_for_yourself_how_it_works_ {
	left: 0px;
	top: 43px;
	position: absolute;
	overflow: visible;
	width: 247px;
	height: 50px;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Pricing_cp {
	position: absolute;
	width: 370.958px;
	height: 661px;
	left: 401px;
	top: 0px;
	overflow: visible;
}
#BG_cq {
	fill: rgba(255,255,255,1);
}
.BG_cq {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 679px;
	left: 0px;
	top: 0px;
}
#btn_tryit_cr {
	position: absolute;
	width: 370px;
	height: 70px;
	left: 0px;
	top: 591px;
	overflow: visible;
}
#Rectangle_737_cs {
	fill: rgba(255,101,101,1);
}
.Rectangle_737_cs {
	position: absolute;
	overflow: visible;
	width: 370px;
	height: 70px;
	left: 0px;
	top: 0px;
}
#Try_it_now_ct {
	left: 148px;
	top: 23px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#list_cu {
	position: absolute;
	width: 370.958px;
	height: 276.479px;
	left: 0px;
	top: 315px;
	overflow: visible;
}
#Rectangle_738_cv {
	fill: rgba(245,246,250,1);
}
.Rectangle_738_cv {
	position: absolute;
	overflow: visible;
	width: 370px;
	height: 276px;
	left: 0px;
	top: 0px;
}
#Path_324_cw {
	fill: transparent;
	stroke: rgba(232,233,236,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_324_cw {
	overflow: visible;
	position: absolute;
	width: 370.958px;
	height: 1px;
	left: 0px;
	top: 46.479px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_326_cx {
	fill: transparent;
	stroke: rgba(232,233,236,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_326_cx {
	overflow: visible;
	position: absolute;
	width: 370.958px;
	height: 1px;
	left: 0px;
	top: 92.479px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_327_cy {
	fill: transparent;
	stroke: rgba(232,233,236,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_327_cy {
	overflow: visible;
	position: absolute;
	width: 370.958px;
	height: 1px;
	left: 0px;
	top: 138.479px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_328_cz {
	fill: transparent;
	stroke: rgba(232,233,236,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_328_cz {
	overflow: visible;
	position: absolute;
	width: 370.958px;
	height: 1px;
	left: 0px;
	top: 184.479px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_329_c {
	fill: transparent;
	stroke: rgba(232,233,236,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_329_c {
	overflow: visible;
	position: absolute;
	width: 370.958px;
	height: 1px;
	left: 0px;
	top: 230.479px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_330_c {
	fill: transparent;
	stroke: rgba(232,233,236,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_330_c {
	overflow: visible;
	position: absolute;
	width: 370.958px;
	height: 1px;
	left: 0px;
	top: 276.479px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_325_c {
	fill: transparent;
	stroke: rgba(232,233,236,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_325_c {
	overflow: visible;
	position: absolute;
	width: 370.958px;
	height: 1px;
	left: 0px;
	top: 0.479px;
	transform: matrix(1,0,0,1,0,0);
}
#Up_to_10_user_24hr_support_20_ {
	left: 89px;
	top: 16px;
	position: absolute;
	overflow: hidden;
	width: 201px;
	height: 243px;
	line-height: 45px;
	margin-top: -15px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(67,66,93,1);
}
#details_c {
	position: absolute;
	width: 246px;
	height: 244px;
	left: 66px;
	top: 49px;
	overflow: visible;
}
#FREE_c {
	left: 102px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,101,101,1);
}
#per__month_c {
	left: 146px;
	top: 118px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,101,101,1);
}
#End_your_subscription__wheneve {
	left: 35px;
	top: 194px;
	position: absolute;
	overflow: visible;
	width: 169px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -3.5px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,101,101,1);
}
#ID20 {
	left: 15px;
	top: 83px;
	position: absolute;
	overflow: visible;
	width: 120px;
	white-space: nowrap;
	text-align: right;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 80px;
	color: rgba(255,101,101,1);
}
#Perfect_for_small_teams_workin {
	left: 0px;
	top: 43px;
	position: absolute;
	overflow: visible;
	width: 247px;
	height: 50px;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Pricing_da {
	position: absolute;
	width: 370.958px;
	height: 661px;
	left: 802px;
	top: 0px;
	overflow: visible;
}
#BG_db {
	fill: rgba(255,255,255,1);
}
.BG_db {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 679px;
	left: 0px;
	top: 0px;
}
#btn_tryit_dc {
	position: absolute;
	width: 370px;
	height: 70px;
	left: 0px;
	top: 591px;
	overflow: visible;
}
#Rectangle_737_dd {
	fill: rgba(255,101,101,1);
}
.Rectangle_737_dd {
	position: absolute;
	overflow: visible;
	width: 370px;
	height: 70px;
	left: 0px;
	top: 0px;
}
#Try_it_now_de {
	left: 148px;
	top: 23px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#list_df {
	position: absolute;
	width: 370.958px;
	height: 276.479px;
	left: 0px;
	top: 315px;
	overflow: visible;
}
#Rectangle_738_dg {
	fill: rgba(245,246,250,1);
}
.Rectangle_738_dg {
	position: absolute;
	overflow: visible;
	width: 370px;
	height: 276px;
	left: 0px;
	top: 0px;
}
#Path_324_dh {
	fill: transparent;
	stroke: rgba(232,233,236,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_324_dh {
	overflow: visible;
	position: absolute;
	width: 370.958px;
	height: 1px;
	left: 0px;
	top: 46.479px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_326_di {
	fill: transparent;
	stroke: rgba(232,233,236,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_326_di {
	overflow: visible;
	position: absolute;
	width: 370.958px;
	height: 1px;
	left: 0px;
	top: 92.479px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_327_dj {
	fill: transparent;
	stroke: rgba(232,233,236,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_327_dj {
	overflow: visible;
	position: absolute;
	width: 370.958px;
	height: 1px;
	left: 0px;
	top: 138.479px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_328_dk {
	fill: transparent;
	stroke: rgba(232,233,236,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_328_dk {
	overflow: visible;
	position: absolute;
	width: 370.958px;
	height: 1px;
	left: 0px;
	top: 184.479px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_329_dl {
	fill: transparent;
	stroke: rgba(232,233,236,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_329_dl {
	overflow: visible;
	position: absolute;
	width: 370.958px;
	height: 1px;
	left: 0px;
	top: 230.479px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_330_dm {
	fill: transparent;
	stroke: rgba(232,233,236,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_330_dm {
	overflow: visible;
	position: absolute;
	width: 370.958px;
	height: 1px;
	left: 0px;
	top: 276.479px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_325_dn {
	fill: transparent;
	stroke: rgba(232,233,236,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_325_dn {
	overflow: visible;
	position: absolute;
	width: 370.958px;
	height: 1px;
	left: 0px;
	top: 0.479px;
	transform: matrix(1,0,0,1,0,0);
}
#Up_to_50_users_24hr_support_Un {
	left: 89px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 201px;
	height: 243px;
	line-height: 45px;
	margin-top: -15px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(67,66,93,1);
}
#details_dp {
	position: absolute;
	width: 246px;
	height: 244px;
	left: 66px;
	top: 49px;
	overflow: visible;
}
#FREE_dq {
	left: 102px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,101,101,1);
}
#per__month_dr {
	left: 146px;
	top: 118px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,101,101,1);
}
#Custom_plan_and_pricing__for_l {
	left: 26px;
	top: 194px;
	position: absolute;
	overflow: visible;
	width: 187px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -3.5px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,101,101,1);
}
#ID90 {
	left: 15px;
	top: 83px;
	position: absolute;
	overflow: visible;
	width: 120px;
	white-space: nowrap;
	text-align: right;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 80px;
	color: rgba(255,101,101,1);
}
#Great_for_teams_and_growing_bu {
	left: 0px;
	top: 43px;
	position: absolute;
	overflow: visible;
	width: 247px;
	height: 50px;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Pricing_dv {
	position: absolute;
	width: 388px;
	height: 480px;
	left: 606px;
	top: 93px;
	overflow: visible;
}
#BG_dw {
	fill: rgba(59,134,255,1);
}
.BG_dw {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 480px;
	left: 9px;
	top: 7px;
}
#REGULAR {
	left: 139px;
	top: 66px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -6px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(255,255,255,1);
}
#Per_agent__mo_dy {
	opacity: 0.5;
	left: 139px;
	top: 264px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#ID25 {
	left: 119px;
	top: 119px;
	position: absolute;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 100px;
	color: rgba(255,255,255,1);
}
#Professional_features_for_your {
	left: 65px;
	top: 300px;
	position: absolute;
	overflow: visible;
	width: 267px;
	height: 50px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#btn_buy_d {
	position: absolute;
	width: 120px;
	height: 35px;
	left: 134px;
	top: 394px;
	overflow: visible;
}
#Rectangle_166_d {
	fill: rgba(255,255,255,1);
}
.Rectangle_166_d {
	position: absolute;
	overflow: visible;
	width: 120px;
	height: 35px;
	left: 0px;
	top: 0px;
}
#BUY_d {
	left: 47px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(59,134,255,1);
}
#Pricing_d {
	position: absolute;
	width: 388px;
	height: 568px;
	left: 1006px;
	top: 585px;
	overflow: visible;
}
#BG_d {
	fill: rgba(67,66,93,1);
}
.BG_d {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 568px;
	left: 9px;
	top: 7px;
}
#ADVANCED {
	left: 134px;
	top: 86px;
	position: absolute;
	overflow: visible;
	width: 120px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#PER_USER_MONTH {
	opacity: 0.5;
	left: 124px;
	top: 286px;
	position: absolute;
	overflow: visible;
	width: 141px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#ID48 {
	left: 119px;
	top: 148px;
	position: absolute;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 100px;
	color: rgba(255,255,255,1);
}
#Advanceed_features_for_your_bu {
	left: 65px;
	top: 349px;
	position: absolute;
	overflow: visible;
	width: 267px;
	height: 50px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#btn_freetrial {
	position: absolute;
	width: 160px;
	height: 50px;
	left: 114px;
	top: 467px;
	overflow: visible;
}
#Rectangle_166_eb {
	opacity: 0.3;
	fill: rgba(0,0,0,1);
}
.Rectangle_166_eb {
	position: absolute;
	overflow: visible;
	width: 160px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#FREE_TRIAL {
	left: 45px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Pricing_ed {
	position: absolute;
	width: 388px;
	height: 568px;
	left: 606px;
	top: 585px;
	overflow: visible;
}
#BG_ee {
	fill: rgba(59,134,255,1);
}
.BG_ee {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 568px;
	left: 9px;
	top: 7px;
}
#PROFESSIONAL {
	left: 109px;
	top: 86px;
	position: absolute;
	overflow: visible;
	width: 171px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#PER_USER_MONTH_eg {
	opacity: 0.5;
	left: 124px;
	top: 286px;
	position: absolute;
	overflow: visible;
	width: 141px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#ID18 {
	left: 119px;
	top: 155px;
	position: absolute;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 100px;
	color: rgba(255,255,255,1);
}
#Professional_features_for_your_ei {
	left: 65px;
	top: 349px;
	position: absolute;
	overflow: visible;
	width: 267px;
	height: 50px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#btn_freetrial_ej {
	position: absolute;
	width: 160px;
	height: 50px;
	left: 114px;
	top: 467px;
	overflow: visible;
}
#Rectangle_166_ek {
	opacity: 0.3;
	fill: rgba(0,0,0,1);
}
.Rectangle_166_ek {
	position: absolute;
	overflow: visible;
	width: 160px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#FREE_TRIAL_el {
	left: 45px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Pricing_em {
	position: absolute;
	width: 388px;
	height: 568px;
	left: 206px;
	top: 585px;
	overflow: visible;
}
#BG_en {
	fill: rgba(255,101,101,1);
}
.BG_en {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 568px;
	left: 9px;
	top: 7px;
}
#STARTER_eo {
	left: 145px;
	top: 86px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#PER_USER_MONTH_ep {
	opacity: 0.5;
	left: 124px;
	top: 286px;
	position: absolute;
	overflow: visible;
	width: 141px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#ID8 {
	left: 144px;
	top: 155px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 100px;
	color: rgba(255,255,255,1);
}
#Starter_features_for_your_busi_er {
	left: 65px;
	top: 349px;
	position: absolute;
	overflow: visible;
	width: 267px;
	height: 50px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#btn_freetrial_es {
	position: absolute;
	width: 160px;
	height: 50px;
	left: 114px;
	top: 467px;
	overflow: visible;
}
#Rectangle_166_et {
	opacity: 0.3;
	fill: rgba(0,0,0,1);
}
.Rectangle_166_et {
	position: absolute;
	overflow: visible;
	width: 160px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#FREE_TRIAL_eu {
	left: 45px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Pricing_ev {
	position: absolute;
	width: 1190px;
	height: 616px;
	left: 215px;
	top: 1752px;
	overflow: hidden;
}
#Pricing_ew {
	position: absolute;
	width: 370.5px;
	height: 600px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#BG_ex {
	fill: rgba(255,255,255,1);
	stroke: rgba(233,233,240,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BG_ex {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 618px;
	left: 0px;
	top: 0px;
}
#Starter_Plan {
	left: 118px;
	top: 59px;
	position: absolute;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(77,79,92,1);
}
#Per_user__month {
	opacity: 0.5;
	left: 122px;
	top: 245px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(77,79,92,1);
}
#ID8_e {
	left: 135px;
	top: 108px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 100px;
	color: rgba(67,66,93,1);
}
#ID1000_messages_Unlimited_data {
	left: 56px;
	top: 348px;
	position: absolute;
	overflow: visible;
	width: 267px;
	height: 118px;
	line-height: 30px;
	margin-top: -6px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(67,66,93,1);
}
#btn_freetrial_e {
	position: absolute;
	width: 160px;
	height: 50px;
	left: 105px;
	top: 510px;
	overflow: visible;
}
#Rectangle_166_e {
	fill: rgba(59,134,255,1);
}
.Rectangle_166_e {
	position: absolute;
	overflow: visible;
	width: 160px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#FREE_TRIAL_e {
	left: 45px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Path_323 {
	fill: transparent;
	stroke: rgba(233,233,240,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_323 {
	overflow: visible;
	position: absolute;
	width: 370px;
	height: 1px;
	left: 0.5px;
	top: 308px;
	transform: matrix(1,0,0,1,0,0);
}
#Pricing_e {
	position: absolute;
	width: 370.5px;
	height: 600px;
	left: 400px;
	top: 0px;
	overflow: visible;
}
#BG_e {
	fill: rgba(255,255,255,1);
	stroke: rgba(233,233,240,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BG_e {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 618px;
	left: 0px;
	top: 0px;
}
#Business_Plan {
	left: 109px;
	top: 59px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(77,79,92,1);
}
#Per_user__month_e {
	opacity: 0.5;
	left: 122px;
	top: 245px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(77,79,92,1);
}
#ID28 {
	left: 110px;
	top: 108px;
	position: absolute;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 100px;
	color: rgba(67,66,93,1);
}
#ID10000_messages_Unlimited_dat {
	left: 56px;
	top: 348px;
	position: absolute;
	overflow: visible;
	width: 267px;
	height: 118px;
	line-height: 30px;
	margin-top: -6px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(67,66,93,1);
}
#btn_freetrial_fc {
	position: absolute;
	width: 160px;
	height: 50px;
	left: 105px;
	top: 510px;
	overflow: visible;
}
#Rectangle_166_fd {
	fill: rgba(59,134,255,1);
}
.Rectangle_166_fd {
	position: absolute;
	overflow: visible;
	width: 160px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#FREE_TRIAL_fe {
	left: 45px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Path_323_ff {
	fill: transparent;
	stroke: rgba(233,233,240,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_323_ff {
	overflow: visible;
	position: absolute;
	width: 370px;
	height: 1px;
	left: 0.5px;
	top: 308px;
	transform: matrix(1,0,0,1,0,0);
}
#Pricing_fg {
	position: absolute;
	width: 370.5px;
	height: 600px;
	left: 800px;
	top: 0px;
	overflow: visible;
}
#BG_fh {
	fill: rgba(255,255,255,1);
	stroke: rgba(233,233,240,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BG_fh {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 618px;
	left: 0px;
	top: 0px;
}
#Extended_Plan {
	left: 106px;
	top: 59px;
	position: absolute;
	overflow: visible;
	width: 159px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(77,79,92,1);
}
#Per_user__month_fj {
	opacity: 0.5;
	left: 122px;
	top: 245px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(77,79,92,1);
}
#ID48_fk {
	left: 110px;
	top: 108px;
	position: absolute;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 100px;
	color: rgba(67,66,93,1);
}
#ID50000_messages_Unlimited_dat {
	left: 56px;
	top: 348px;
	position: absolute;
	overflow: visible;
	width: 267px;
	height: 118px;
	line-height: 30px;
	margin-top: -6px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(67,66,93,1);
}
#btn_freetrial_fm {
	position: absolute;
	width: 160px;
	height: 50px;
	left: 105px;
	top: 510px;
	overflow: visible;
}
#Rectangle_166_fn {
	fill: rgba(59,134,255,1);
}
.Rectangle_166_fn {
	position: absolute;
	overflow: visible;
	width: 160px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#FREE_TRIAL_fo {
	left: 45px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Path_323_fp {
	fill: transparent;
	stroke: rgba(233,233,240,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_323_fp {
	overflow: visible;
	position: absolute;
	width: 370px;
	height: 1px;
	left: 0.5px;
	top: 308px;
	transform: matrix(1,0,0,1,0,0);
}
#Pricing_fq {
	position: absolute;
	width: 1186px;
	height: 567px;
	left: 215px;
	top: 1172px;
	overflow: hidden;
}
#Pricing_fr {
	position: absolute;
	width: 370px;
	height: 550px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#BG_fs {
	fill: rgba(255,255,255,1);
}
.BG_fs {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 568px;
	left: 0px;
	top: 0px;
}
#STARTER_ft {
	left: 136px;
	top: 79px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(77,79,92,1);
}
#PER_USER_MONTH_fu {
	opacity: 0.5;
	left: 115px;
	top: 355px;
	position: absolute;
	overflow: visible;
	width: 141px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(77,79,92,1);
}
#ID9 {
	left: 135px;
	top: 218px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 100px;
	color: rgba(67,66,93,1);
}
#Starter_features_for_your_busi_fw {
	left: 56px;
	top: 132px;
	position: absolute;
	overflow: visible;
	width: 267px;
	height: 50px;
	line-height: 25px;
	margin-top: -3.5px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(67,66,93,1);
}
#btn_freetrial_fx {
	position: absolute;
	width: 160px;
	height: 50px;
	left: 105px;
	top: 460px;
	overflow: visible;
}
#Rectangle_166_fy {
	fill: rgba(255,255,255,1);
	stroke: rgba(232,233,236,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_166_fy {
	position: absolute;
	overflow: visible;
	width: 160px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#FREE_TRIAL_fz {
	opacity: 0.5;
	left: 45px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -5px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(67,66,93,1);
}
#Pricing_f {
	position: absolute;
	width: 370px;
	height: 550px;
	left: 400px;
	top: 0px;
	overflow: visible;
}
#BG_f {
	fill: rgba(255,255,255,1);
}
.BG_f {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 568px;
	left: 0px;
	top: 0px;
}
#PROFESSIONAL_f {
	left: 100px;
	top: 79px;
	position: absolute;
	overflow: visible;
	width: 171px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(77,79,92,1);
}
#PER_USER_MONTH_f {
	opacity: 0.5;
	left: 115px;
	top: 355px;
	position: absolute;
	overflow: visible;
	width: 141px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(77,79,92,1);
}
#ID29 {
	left: 110px;
	top: 218px;
	position: absolute;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 100px;
	color: rgba(67,66,93,1);
}
#Professional_features_for_your_f {
	left: 56px;
	top: 132px;
	position: absolute;
	overflow: visible;
	width: 267px;
	height: 50px;
	line-height: 25px;
	margin-top: -3.5px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(67,66,93,1);
}
#btn_freetrial_f {
	position: absolute;
	width: 160px;
	height: 50px;
	left: 105px;
	top: 460px;
	overflow: visible;
}
#Rectangle_166_f {
	fill: rgba(255,255,255,1);
	stroke: rgba(232,233,236,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_166_f {
	position: absolute;
	overflow: visible;
	width: 160px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#FREE_TRIAL_f {
	opacity: 0.5;
	left: 45px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -5px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(67,66,93,1);
}
#Pricing_ga {
	position: absolute;
	width: 370px;
	height: 550px;
	left: 800px;
	top: 0px;
	overflow: visible;
}
#BG_ga {
	fill: rgba(255,255,255,1);
}
.BG_ga {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 568px;
	left: 0px;
	top: 0px;
}
#ADVANCED_gb {
	left: 125px;
	top: 79px;
	position: absolute;
	overflow: visible;
	width: 120px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(77,79,92,1);
}
#PER_USER_MONTH_gc {
	opacity: 0.5;
	left: 115px;
	top: 355px;
	position: absolute;
	overflow: visible;
	width: 141px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(77,79,92,1);
}
#ID99 {
	left: 110px;
	top: 218px;
	position: absolute;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 100px;
	color: rgba(67,66,93,1);
}
#Advanced_features_for_your_bus_ge {
	left: 56px;
	top: 132px;
	position: absolute;
	overflow: visible;
	width: 267px;
	height: 50px;
	line-height: 25px;
	margin-top: -3.5px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(67,66,93,1);
}
#btn_freetrial_gf {
	position: absolute;
	width: 160px;
	height: 50px;
	left: 105px;
	top: 460px;
	overflow: visible;
}
#Rectangle_166_gg {
	fill: rgba(255,255,255,1);
	stroke: rgba(232,233,236,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_166_gg {
	position: absolute;
	overflow: visible;
	width: 160px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#FREE_TRIAL_gh {
	opacity: 0.5;
	left: 45px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -5px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(67,66,93,1);
}